@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

main {
    margin: 10px;
}

#logo-media {
    display: block;
}

#titulo-visualizar {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    color: #BA2F00;
    display: inline-block;
}

#titulo-selecionar {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right; 
    margin: 0; 
    padding: 10px; 
    font-size: 16px; 
}

section {
    display: flex;
    justify-content: space-between;
}

#box-visualizar {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 850px;
    height: 500px;
    padding-bottom: 1rem;
    position: relative;
}
